<!--This file only deals with the singular- removing or editing a single team-->
<template name="post">
    {{!--  <li>{{name}} <a class="remove" href="#">(x)</a> </li> --}}
    <li>
        {{#if isEditingPost}}
            <form class="form-edit">
                <label for="bodyOfPost">
                    <input name="name" type="text" value="{{name}}">
                    <button type="submit">Submit</button>
                    <a class="cancel" href="#">Cancel</a>
                </label>
            </form>


        {{else}}
            {{name}}
            {{#if currentUser}}  {{!--This is where the login pays off. No login, no chance to edit or delete.--}}
                <a href="#" class="edit">edit</a>

                <a href="#" class="remove"> (x)</a>
            {{/if}}
        {{/if}}
    </li>
</template>